<h1> Welcome to Rock, Paper,  Scissors </h1>

<h2>Rules of the game</h2>

<body>
  <p>Each player will choose an option:</p>
  <li>Rock</li>
  <li>Paper</li>
  <li>Sissors</li>

  <p>The rules are as follows:</p>

  <li>Rock beats Scissors</li>
  <li>Paper beats Rock</li>
  <li>Scissors beat Paper</li>
</body>
